# Maven
target/

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA (caso abra em outra IDE depois)
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Java compilado
*.class
